{% extends "_layout.html" %}

{% block style %}

<link rel="stylesheet" href="/public/assets/ztree/css/zTreeStyle/zTreeStyle.css" type="text/css">
<link rel="stylesheet" href="/public/assets/ztree/css/awesomeStyle/awesome.css" type="text/css">
<link rel="stylesheet" href="/public/assets/css/bpage.css" type="text/css">


<style>

    #tree-box{
    box-shadow:2px 6px 8px rgba(49,55,68,0.1);
}

ul.ztree {
    height:800px;
    overflow-y:scroll;
    overflow-x:auto;
}

.page-content {
    padding: 0 30px;
}

.operator{
    text-align: center;
    margin-top: 30px;
}

.operator button{
    margin-right: 2px;
}
.btn.btn-success{
                width:auto;
                height:32px;
                background:rgba(49,187,69,1)!important;
                border-radius:6px;
                border:none;
}
.btn.btn-danger{
                width:auto;
                height:32px;
                border-radius:6px;
                border:none;
}

.ztree li span.button{
    background-image: initial;
    width:22px
}
.ztree li span.button.switch{
    width:22px;
}

.ztree, .ztree *{

        background-color: initial;
        color:black;
        font-size:16px;
        font-family:STHeitiSC-Medium;
        font-weight:500;
}

.ztree li span{
    line-height: 28px;
    color: #444444;
}

.ztree li a.curSelectedNode {
    padding-top: 0px;
    background-color: inherit;
    color: #1FB1F2;
    height: 28px;
    opacity: 0.8;
    border: 0 none
}

.ztree li a{
    height: 28px;
}
.ztree li a:hover, .ztree li a:hover span{
    color: #1FB1F2;
}

.ztree li span.button::before {
    color: #000000;
    padding-top: 15px;
}
.ztree li a.curSelectedNode span{
    color: #1FB1F2;
}

.ztree li span.button.root_close::before,
.ztree li span.button.ico_open::before,
.ztree li span.button.ico_close::before,
.ztree li span.button.ico_docu::before,
.ztree li span.button.center_open::before,
.ztree li span.button.root_open::before,
.ztree li span.button.center_close::before,
.ztree li span.button.bottom_close::before,
.ztree li span.button.bottom_open::before {
    color: #000000;
    padding-top: 15px;
}
.form-group div{
    display: inline-block;
    vertical-align: top;
    width:50%
}
.form-group label{
    font-weight: 400;
    font-size: 14px;
    /* height: 20px; */
    line-height: 35px;
    margin-bottom: 0;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}
.ztree li a input.rename{
    line-height: 14px;
}

</style>
{% endblock %}

{% block header %}

{% endblock %}

{% block body %}
<!-- Main Content -->

<div class="main-content">
    <div class="main-content-inner">

        <div class="page-content">

            <div class="row">
                <div class="col-xs-12" id="tree-box">
                    <div class="operator">
                        <button class="btn btn-success" id="addLeaf">添加类目</button>
                        <button class="btn btn-success" id="edit">修改名称</button>
                        <button class="btn btn-danger" id="remove">删除</button>
                    </div>
                    <ul id="treeDemo" class="ztree"></ul>

                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.col -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    {% endblock %}

    {% block script %}
    <script type="text/javascript" src="/public/assets/ztree/js/jquery.ztree.core.js"></script>
    <script type="text/javascript" src="/public/assets/ztree/js/jquery.ztree.excheck.js"></script>
    <script type="text/javascript" src="/public/assets/ztree/js/jquery.ztree.exedit.js"></script>
    <script src="/public/assets/js/bpage.js"></script>

    <script>
        var setting = {
            view: {
                selectedMulti: false
            },
            edit: {
                enable: true,
                showRemoveBtn: false,
                showRenameBtn: false
            },
            check: {
                enable: false
                , chkStyle: 'radio'
                , radioType: "level"
            },
            data: {
                keep: {
                    parent: true,
                    leaf: false
                },
                simpleData: {
                    enable: true
                }
            },
            callback: {
                beforeDrag: beforeDrag,
                beforeRemove: beforeRemove,
                beforeRename: beforeRename,
                onRemove: onRemove,
                onRename: zTreeOnRename,
            }
        };


        var zNodes = [
            { id: 1, pId: 0, name: "全部", open: true },
            { id: 2, pId: 1, name: "父节点 1", open: true },
            { id: 11, pId: 2, name: "叶子节点 1-1" },
            { id: 111, pId: 11, name: "叶子节点 1-1-1" },
            { id: 12, pId: 2, name: "叶子节点 1-2" },
            { id: 13, pId: 2, name: "叶子节点 1-3" },
            { id: 3, pId: 1, name: "父节点 2", open: true },
            { id: 21, pId: 3, name: "叶子节点 2-1" },
            { id: 22, pId: 3, name: "叶子节点 2-2" },
            { id: 23, pId: 3, name: "叶子节点 2-3" },
            { id: 4, pId: 1, name: "父节点 3", open: true },
            { id: 31, pId: 4, name: "叶子节点 3-1" },
            { id: 32, pId: 4, name: "叶子节点 3-2" },
            { id: 33, pId: 4, name: "叶子节点 3-3" }
        ];
        var log, className = "dark";
        function beforeDrag(treeId, treeNodes) {
            return false;
        }
        function beforeRemove(treeId, treeNode) {
            className = (className === "dark" ? "" : "dark");
            showLog("[ " + getTime() + " beforeRemove ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name);
            return confirm("确认删除 节点 -- " + treeNode.name + " 吗？");
        }
        function onRemove(e, treeId, treeNode) {
            showLog("[ " + getTime() + " onRemove ]&nbsp;&nbsp;&nbsp;&nbsp; " + treeNode.name);
        }
        function beforeRename(treeId, treeNode, newName) {
            if (newName.length == 0) {
                alert("节点名称不能为空.");
                var zTree = $.fn.zTree.getZTreeObj("treeDemo");
                setTimeout(function () { zTree.editName(treeNode) }, 10);
                return false;
            }
            return true;
        }
        function showLog(str) {
            if (!log) log = $("#log");
            log.append("<li class='" + className + "'>" + str + "</li>");
            if (log.children("li").length > 8) {
                log.get(0).removeChild(log.children("li")[0]);
            }
        }
        function getTime() {
            var now = new Date(),
                h = now.getHours(),
                m = now.getMinutes(),
                s = now.getSeconds(),
                ms = now.getMilliseconds();
            return (h + ":" + m + ":" + s + " " + ms);
        }

        var newCount = 1;
        function add(e) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
                isParent = e.data.isParent,
                nodes = zTree.getSelectedNodes(),
                treeNode = nodes[0];

            let level = treeNode.level;

            if (level === 2) {
                isParent = false;
            } else {
                isParent = true;
            }
            let name = "新类目";
            $.ajax({
                type: "POST",
                url: "/category",
                data: {
                    oper: 'add',
                    name,
                    parent_id: treeNode.id,
                    level: level + 1
                },
                success: function (data) {
                    treeNode = zTree.addNodes(treeNode, { id: data.insertId, pId: treeNode.id, isParent, name });
                    // zTree.editName(treeNode);
                }
            });
        };
        function zTreeOnRename(event, treeId, treeNode, isCancel) {
            $.ajax({
                type: "POST",
                url: "/category",
                data: {
                    oper: 'edit',
                    name: treeNode.name,
                    id: treeNode.id,
                },
                success: function (data) {
                    alert('修改成功');
                }
            });
        }
        function edit() {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
                nodes = zTree.getSelectedNodes(),
                treeNode = nodes[0];
            if (nodes.length == 0) {
                alert("请先选择一个节点");
                return;
            }
            zTree.editName(treeNode);
        };
        function remove(e) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
                nodes = zTree.getSelectedNodes(),
                treeNode = nodes[0];
            if (nodes.length == 0) {
                alert("请先选择一个节点");
                return;
            }
            console.log(nodes);
            console.log(999999);
            var callbackFlag = $("#callbackTrigger").attr("checked");
            $.ajax({
                type: "POST",
                url: "/category",
                data: {
                    oper: 'del',
                    id: treeNode.id,
                },
                success: function (data) {
                    alert('删除成功');
                    zTree.removeNode(treeNode, callbackFlag);
                }
            });

        };
        function clearChildren(e) {
            var zTree = $.fn.zTree.getZTreeObj("treeDemo"),
                nodes = zTree.getSelectedNodes(),
                treeNode = nodes[0];
            if (nodes.length == 0 || !nodes[0].isParent) {
                alert("请先选择一个父节点");
                return;
            }
            zTree.removeChildNodes(treeNode);
        };

        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "/category",
                success: function (data) {
                    console.log(data);

                    const result = data.rows.map((d) => {
                        d.pId = d.parent_id;

                        return d
                    });
                    result.push({ id: 0, pId: 0, name: "全部", open: true });
                    console.log(result);
                    $.fn.zTree.init($("#treeDemo"), setting, result);
                }
            });
            $("#addParent").bind("click", { isParent: true }, add);
            $("#addLeaf").bind("click", { isParent: false }, add);
            $("#edit").bind("click", edit);
            $("#remove").bind("click", remove);
            $("#clearChildren").bind("click", clearChildren);
        });


    </script>

    {% endblock %}