<!DOCTYPE html>
<html lang="zh-Hans-Cn">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta charset="UTF-8">
	<meta name="Author" content="Ivy">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<title>全民星后台管理</title>
	<!--<link rel="icon" type="image/x-icon" href="" />-->
	
	<!-- bootstrap -->
	<link rel="stylesheet" href="../modules/ace/css/bootstrap.min.css">
	<link rel="stylesheet" href="../modules/ace/font-awesome/css/font-awesome.min.css">
	
	<!-- text font -->
	<link rel="stylesheet" href="../modules/ace/css/fonts.googleapis.com.css">
	
	<!-- ace style-->
	<link rel="stylesheet" href="../modules/ace/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
	
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="../modules/ace/css/ace-part2.min.css" class="ace-main-stylesheet" />
	<![endif]-->
	
	<link rel="stylesheet" href="../modules/ace/css/ace-skins.min.css" />
	<link rel="stylesheet" href="../modules/ace/css/ace-rtl.min.css" />
	<link rel="stylesheet" href="../css/banner-edit.css">
	
	<!--[if lte IE 9]>
	<link rel="stylesheet" href="../modules/ace/css/ace-ie.min.css" />
	<![endif]-->
	

	
	<!--[if lte IE 8]>
	<script src="../modules/ace/js/html5shiv.min.js"></script>
	<script src="../modules/ace/js/respond.min.js"></script>
	<![endif]-->

</head>
<body class="no-skin" style="height: 1200px;">
<!-- nav bar-->
<div class="navbar navbar-default ace-save-state" id="navbar">
	<div id="navbar-container" class="navbar-container ace-save-state">
		<!-- 菜单隐藏时显示按钮 -->
		<button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
			<span class="sr-only"> 隐藏菜单 </span>
			
			<span class="icon-bar"></span>
			
			<span class="icon-bar"></span>
			
			<span class="icon-bar"></span>
		</button><!-- 菜单隐藏时的按钮 -->
		
		<!-- navbar header left -->
		<div class="navbar-header pull-left">
			<a href="banner-setting.html" class="navbar-brand">
				<small>
					<i class="fa fa-leaf"></i>
					全民星-后台
				</small>
			</a>
		</div><!-- navbar header left -->
		
		<!-- navbar header righte -->
		<div class="navbar-buttons navbar-header pull-right" role="navigation">
			<ul class="nav ace-nav">
				<li class="light-blue dropdown-modal">
					<a data-toggle="dropdown" href="#" class="dropdown-toggle">
						<img class="nav-user-photo" src="../modules/ace/images/avatars/admin.png" alt="管理员" />
						<span class="user-info">
									<small>欢迎</small>
									admin
								</span>
						
						<i class="ace-icon fa fa-caret-down"></i>
					</a>
					
					<ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
						<li>
							<a href="#">
								<i class="ace-icon fa fa-cog"></i>
								设置
							</a>
						</li>
						
						<li>
							<a href="#">
								<i class="ace-icon fa fa-user"></i>
								个人信息
							</a>
						</li>
						
						<li class="divider"></li>
						
						<li>
							<a href="#">
								<i class="ace-icon fa fa-power-off"></i>
								退出
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div><!-- navbar header righte -->
	
	</div>
</div><!-- nav bar-->

<!-- main container-->
<div class="main-container ace-save-state" id="main-container">
	<script>
		try{ace.settings.loadState('main-container')}catch(e){}
	</script>
	
	<!-- sidebar -->
	<div class="sidebar responsive ace-save-state" id="sidebar">
		<script type="text/javascript">
			try{ace.settings.loadState('sidebar')}catch(e){}
		</script>
		
		<ul class="nav nav-list">
			<li class="active">
				<a href="banner-setting.html">
					<i class="menu-icon fa fa-tachometer"></i>
					<span class="menu-text"> 小程序banner配置 </span>
				</a>
				<b class="arrow"></b>
			</li>
		</ul>
		
		<!-- 收起 sidebar -->
		<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
			<i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
		</div>
	</div><!-- sidebar -->
	
	<!-- 主要内容区 main-content -->
	<div class="main-content">
		<div class="main-content-inner">
			<!-- 面包屑导航 + 搜索 -->
			<div class="breadcrumbs ace-save-state" id="breadcrumbs">
				<!-- 面包屑 -->
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="#"> 首页</a>
					</li>
					<li><a href="./banner-setting.html">小程序banner配置</a></li>
					<li class="active">编辑</li>
				</ul><!-- 面包屑 -->
				
				<!-- 搜索 -->
				<div class="nav-search" id="nav-search">
					<form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="搜索" class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="ace-icon fa fa-search nav-search-icon"></i>
						</span>
					</form>
				</div>
			</div><!-- 面包屑导航 + 搜索 -->
			
			<!-- 页面内容 -->
			<div class="page-content">
				<!-- 侧边设置按钮-->
				<div class="ace-settings-container" id="ace-settings-container">
					<!-- 设置图标 -->
					<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
						<i class="ace-icon fa fa-cog bigger-130"></i>
					</div><!-- 设置图标 -->
					
					<!-- 设置选项 -->
					<div class="ace-settings-box" id="ace-settings-box">
						<div class="ace-settings-item">
							<div class="pull-left">
								<select id="skin-colorpicker" class="hide">
									<option data-skin="default" value="#438EB9">#438EB9</option>
									<option data-skin="skin-1" value="#222A2D">#222A2D</option>
									<option data-skin="skin-2" value="#C6487E">#C6487E</option>
									<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
								</select>
							</div>
							<span>&nbsp; 选择皮肤</span>
						</div>
						
						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
							<label class="lbl" for="ace-settings-navbar"> 固定导航条</label>
						</div>
						
						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
							<label class="lbl" for="ace-settings-sidebar"> 固定侧边栏</label>
						</div>
						
						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
							<label class="lbl" for="ace-settings-breadcrumbs">固定面包屑</label>
						</div>
						
						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
							<label class="lbl" for="ace-settings-rtl">切换到左边</label>
						</div>
						
						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
							<label class="lbl" for="ace-settings-add-container">
								切换窄屏
								<b></b>
							</label>
						</div>
						
						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-hover" autocomplete="off" />
							<label class="lbl" for="ace-settings-hover">二级菜单悬停显示</label>
						</div>
						
						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-compact" autocomplete="off" />
							<label class="lbl" for="ace-settings-compact">窄式侧边栏</label>
						</div>
						
						<div class="ace-settings-item">
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-highlight" autocomplete="off" />
							<label class="lbl" for="ace-settings-highlight">菜单选中图标</label>
						</div>
					</div><!-- 设置选项 -->
				</div><!-- 侧边设置按钮-->
				
				<!-- banner信息表 -->
				<div class="page-main row">
					<div class="loading-tip smaller lighter grey">
						<i class="ace-icon fa fa-spinner fa-spin orange bigger-125"></i>
						上传中。。。
					</div>
					<div class="col-xs-12">
						<form class="form-banner">
							<div class="banner-info banner-name">
								<label class="banner-label"><i class="require-icon">*</i> 名称</label>
								<input class="banner-input name" id="url_name" name ="url_name" type="text" placeholder="填写名称" required>
							</div>
							<div class="banner-info banner-url">
								<label class="banner-label"><i class="require-icon">*</i> 跳转链接</label>
								<input class="banner-input url" id="url" type="text" placeholder="填写跳转链接" required>
							</div>
							<div class="banner-info banner-type">
								<label class="banner-label"><i class="require-icon">*</i> 状态</label>
								<select class="url-type" id="type" name="type" required>
									<option value="0" selected>套餐</option>
									<option value="1">视频</option>
									<option value="2">促销</option>
									<option value="3">外链</option>
								</select>
							</div>
							<div class="banner-info banner-state">
								<label class="banner-label"><i class="require-icon">*</i> 状态</label>
								<select class="is_show" id="is_show" name="is_show" required>
									<option value="1">显示</option>
									<option value="0">不显示</option>
								</select>
							</div>
							<div class="banner-info banner-img">
								<label class="banner-label"><i class="require-icon">*</i> 图片</label>
								<div class="img-wrap">
									<img class="img" id="img-preview" src="" alt="" width="375" height="200">
									<div class="img-tip red" id="open-event">
										<i class="ace-icon fa fa-hand-o-left"></i>
										请选择图片
									</div>
								</div>
								<div class="banner-file">
									<span class="btn btn-sm btn-info" id="choose-img">选择文件</span>
								</div>
								<input class="img_url hide" id="img_url" type="file" name="img_url">
							</div>
							<div class="banner-btns">
								<button class="btn btn-lg btn-success" id="submit">保存</button>
								<a class="btn btn-white btn-default" id="cancel" href="./banner-setting.html">取消</a>
							</div>
						
						</form>
					</div>
				</div><!-- banner信息表 -->
			</div><!-- 页面内容 -->
		</div>
	</div><!-- 主要内容区 main-content -->
	
	<!-- footer -->
	<div class="footer"></div>
	
	<!-- 到顶部 -->
	<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
		<i class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
	</a>

</div>

<!-- basic scripts -->
<script src="../modules/ace/js/jquery-3.3.1.min.js"></script>
<script src="../modules/ace/js/bootstrap.min.js"></script>

<!-- ace  script-->
<script src="../modules/ace/js/ace-elements.min.js"></script>
<script src="../modules/ace/js/ace.min.js"></script>

<script src="https://file.qmxpower.com/scripts/aliyun-oss-sdk.min.js"></script>
<!-- upload script -->
<script src="../js/file.js"></script>

<!-- page script -->
<script src="../modules/ace/js/spin.js"></script>
	<!-- ace settings handler -->
	<script src="../modules/ace/js/ace-extra.min.js"></script>
<script>
	jQuery(function($) {
		let $imgUrl = $('#img_url');
		let $imgPreview = $('#img-preview');
		let $submit = $('#submit');
		let $loadingTip = $('.loading-tip');
		let imgFile = null;
		let imgNetUrl = '';
		const domain = 'https://test.qmxpower.com';
		const getObjectURL = function (file) {  // 获得图片文件的本地地址blob对象
			let url = null ;
			if (window.createObjectURL !== undefined)
			{ // basic
				url = window.createObjectURL(file) ;
			}
			else if (window.URL !== undefined)
			{
				// mozilla(firefox)
				url = window.URL.createObjectURL(file) ;
			}
			else if (window.webkitURL !== undefined) {
				// webkit or chrome
				url = window.webkitURL.createObjectURL(file) ;
			}
			return url ;
		};
		const getQueryStringArgs = function () {  // 获取URL参数对象
			console.log(window.location.search)
			let qs = (window.location.search.length > 0 ? location.search.substring(1) : ""),
				args = {},
				items = qs.length ? qs.split("&") : [],
				item = null,
				name = null,
				value = null,
				i = 0,
				len = items.length;
			for(i = 0; i < len; i++) {
				item = items[i].split("=");
				name = decodeURIComponent(item[0]);
				value = decodeURIComponent(item[1]);
				if(name.length) {
					args[name] = value;
				}
			}
			
			return args;
		};
		console.log($imgPreview.attr('src'));
		
		let paramData = getQueryStringArgs();
		console.log(paramData)
		
		// 获取原始数据
		if(paramData.id !== undefined && paramData.id !== null) {
			$.ajax({
				url: domain + "/api/banner/listById?id=" + paramData.id,
				headers: {
					Accept: "application/json; charset=utf-8",
					Cookie: "EGG_SESS=dJrZPNMvUtbRppfOZCQPTkeWd0B7BnqxnTANmi3c7yoHWjQVwq63eHgcUvq8NBe1U1FazePys33zEXwm1y3rKFuuroodcdbqgxCODE6fFYWSd2znT09I6ptHXoWX_dPqgkUWfMxGPSPHwMpl8KwFRFFjZ8w2EQ4TvnIrJPQDthgjewpaSN935SHxf3pI74yEvd7FC0oOcX01-b4Vq-ZTC3UgAiwJym-fSIzU7aeQZ32CnhFZvfiGAkY9KL1XWAlYH6SYI78eeiXHr0PlwW4OfBBvldhuF1sw3Zq37xNl5sNSlMcmX3wAP49JHpSWjsaMxCv6bV_HuurB0f6pm8qgZxHBRU-ggFNMF4ZEL1atw9gyjOUS4TuKuFTuEqld9Tnhxq5OOoGurpDyffQFTWbVVB70PHi5Qv8mgQ8rid_H90zP9p13TmwutVIsWNq5WT7Z0maVIrwoYzR8-5NsonX6mQ=="
				},
				type: "get",
				success: function(returnData) {
					console.log(returnData)
					if(returnData.result.length > 0) {
						let data = returnData.result[0];
						console.log(data);
						data.url_name && $('#url_name').val(data.url_name);
						data.url && $('#url').val(data.url);
						data.type_id && $('#type').val(data.type_id);
						let is_show = data.is_show || 0;
						$('#is_show').val(is_show);
						data.img_url && $imgPreview.attr('src', data.img_url), $('#choose-img').text('重新上传');
					}
				}
			})
		}
		
		
		// 图片上传和预览
		$imgUrl.change(function (e) {
			console.log(e);
			let file = this.files[0];
			imgFile = getObjectURL(file);
			$imgPreview.attr('src', imgFile), $('.img-tip').hide();
			console.log(file.name);
			console.log(imgFile);
			// 上传到阿里云
			$submit.attr('disabled', true);
			$loadingTip.text('上传中，请稍等。。。').show();
			putimage(`${domain}/api/getSTS?filetype=image`, file.name, file, function (res) {
				console.log(res)
				if(res.status === 200) {
					imgNetUrl = res.urls[0];
					console.log(imgNetUrl);
					$submit.attr('disabled', false)
					setTimeout(() => {
						$loadingTip.hide();
					}, 1000)
					$('#choose-img').text('重新上传')
				} else {
					$loadingTip.text('上传失败，请点击重新上传！').show();
					$submit.attr('disabled', true)
					setTimeout(() => {
						$loadingTip.hide();
					}, 2000)
				}
				
			})
		});
		
		$('.img-wrap').on('click', function () {
			console.log('222')
			$imgUrl.click();
		});
		$('#choose-img').on('click', function () {
			console.log('1111')
			$imgUrl.click();
		});
		
		// 提交列表数据
		$('.form-banner').submit(function (e) {
			console.log('submit');
			e.preventDefault();
				if(!$imgPreview.attr('src')) {
					$('.img-tip').show();
				} else {
					let id = paramData.id;
					console.log(paramData)
					let data = {
						url_name: $('#url_name').val(),
						url: $('#url').val(),
						is_show: $('#is_show').val(),
						img_url:  imgNetUrl,
						oper: paramData.oper,
						type_id: $('#type').val()
					};
					if(!!id) {
						data.id = id;
					}
					console.log(data);
					
					// 数据入库
					$.ajax({
						url: domain + '/api/banner',
						headers: {
							Accept: "application/json; charset=utf-8"
						},
						type: "post",
						data: data,
						success: function(data, status) {
							console.log(data)
							console.log(status)
							$loadingTip.text('保存成功').show();
							setTimeout(() => {
								$loadingTip.hide();
								window.location.href='./banner-setting.html'
							}, 2000);
							
						},
						fail: function (err) {
							$loadingTip.text('网络异常，请重试！').show();
							setTimeout(() => {
								$loadingTip.hide();
							}, 2000)
						}
					});
				}
		});
	})
</script>

</body>
</html>