<ul class="nav nav-list">
        <li class="{% if current =='video' %}active{% endif %}">
            <a href="/manager/video">
                <i class="menu-icon fa fa-film"></i>
                <span class="menu-text"> 视频库 </span>
            </a>
            <b class="arrow"></b>
        </li>
        <li class="{% if current =='recommand' %}active{% endif %}">
            <a href="/manager/recommand">
                <i class="menu-icon fa fa-film"></i>
                <span class="menu-text"> 推荐管理 </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="{% if current =='key' %}active{% endif %}">
            <a href="/manager/key">
                <i class="menu-icon fa fa-folder-open"></i>
                <span class="menu-text"> 颗粒库 </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="{% if current =='category' %}active{% endif %}">
            <a href="/manager/category">
                <i class="menu-icon fa fa-cogs"></i>
                <span class="menu-text"> 类目库 </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="{% if current =='business' %}active{% endif %}">
            <a href="/manager/business">
                <i class="menu-icon fa fa-home"></i>
                <span class="menu-text"> 商家库 </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="{% if current =='bill' %}active{% endif %}">
            <a href="/manager/bill">
                <i class="menu-icon fa fa-calendar"></i>
                <span class="menu-text"> 订单管理 </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="{% if current =='people' %}active{% endif %}">
            <a href="/manager/people">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> 人员管理 </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="{% if current =='package' %}active{% endif %}">
            <a href="/manager/package">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> 套餐管理 </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="{% if current =='platform' %}active{% endif %}">
            <a href="/manager/platform">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> 平台管理 </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="{% if current =='column' %}active{% endif %}">
            <a href="/manager/column">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> 栏目管理 </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="{% if current =='usage' %}active{% endif %}">
            <a href="/manager/usage">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> 视频功能管理 </span>
            </a>

            <b class="arrow"></b>
        </li>
        <li class="{% if current =='style' %}active{% endif %}">
            <a href="/manager/style">
                <i class="menu-icon fa fa-user"></i>
                <span class="menu-text"> 视频风格管理 </span>
            </a>

            <b class="arrow"></b>
        </li>
    </ul><!-- /.nav-list -->